Článok na MiP


1. Uvod- také úvodne veci o E-learningu, zasvätenie do problematiky, popísanie

2. Čo je Kahoot
2.1 Taký vnútorný popis Kahootu ako vyzerá, čo sa dá v ňom robiť a podobne ako 
2.2 Porovnanie Kahootu s ostatnými aplikáciami(Nejakú si nájdem a čisto porovnám) 

3.0 Ako prebieha výčuba pomocou Kahootu 
3.1 AKo prebieha výčuba cudzích jazykov 
3.2 Výhody a nevýhody Kahootu


4.Štúdie 

4.1 Štúdia A
4.2 Štúdia B

4.3. Porovnanie

5. Záver